.table-class {
  border: 3px solid gray;

  width: 400px;
  height: 500px;
}

.table-class tr {
  border: 3px solid gray;
  background-color: #40A2E3;
}

.table-class tr td {
  border: 3px solid gray;
}

.text-move {
  text-align: center;
  background-color: #FFC700;
  font-family: Arial, Helvetica, sans-serif;
  color: #A0153E;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.click-me {
  background-color: #5356FF;
  color: #fff;
}

.reset-btn {
  background-color: #A0153E;
  color: #fff;
}

.submit-btn {
  background-color: #007F73;
  color: #fff;
}

.table-container {
  margin: 0 auto;
  width: 30%;
}

.flex {
  display: flex;
  gap: 20px;
}

.flex a {
  border-radius: 5px;
  transition: 0.3s all;
  text-decoration: none;
  background-color: #01b0f1;
  color: white;
  border: solid 1px transparent;
  padding: 10px 15px;
}

.flex a:hover {
  border: solid 1px #01b0f1;
  color: #01b0f1;
  background-color: white;
}