.header {
    background-color: #DE8704;
    text-align: left;
    color: #D3CE31;
    font-family: Arial, sans-serif;
    border: #DE8704 solid 1px;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 60px;
    line-height: 40px;
}

.box {
    background-color: #222536;
    color: #D3CE31;
    font-family: Arial, sans-serif;
    border: #222536 solid 1px;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
}

.footer {
    background-color: #DE8704;
    text-align: right;
    color: #D3CE31;
    font-family: Arial, sans-serif;
    border: #DE8704 solid 1px;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 70px;
    line-height: 60px;
}


.container {
    width: 400px;
    margin: 0 auto;
}


/* Style for Submit button */
.submit-btn {
    background-color: #62AF5E;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    /* Add margin for spacing */
}

/* Style for Cancel button */
.cancel-btn {
    background-color: #D9544F;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Hover effect for buttons */
.submit-btn:hover,
.cancel-btn:hover {
    opacity: 0.8;
    /* Reduce opacity on hover */
}